.divClass h1{
    color:rgb(48, 227, 221);
}

.divClass #spanId{
    font-size: 15px;
    margin: 50px;
}

#thirDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(214, 34, 175);
    padding: 50px;
    border: 3px blue;
}

#thirDiv ul li img{
    width: 400px;
}